#foot{
    position: relative;
    margin-top: 150px;
margin-bottom: 30px;
.center{
    display: flex;
    align-items: center;
}
    .foot_items{
        align-items: center;
        @include _main($display:flex);
        p{
            margin: 0;
           color: #686777;
        }
        a{
            text-decoration: none;
            margin-left: 3px;
        }
        }
          .icons{
            gap: 12px;
            display: flex;
            align-items: center;
            justify-content: end;
  }
.icon1{
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
            @include _main($color:$fourth_color, $display:flex,$width:40px,$height:40px,$border-radius:9px,$back-color:#f1f1f1);
            &:hover{
                background-color: #7b23de;
                color: white;
            } 
}
&::before{
    content: "";
    @include _main($width:100%, $height:1px,$back-color:rgb(208, 208, 208),$position:absolute,$top:-29px,$left:0px); 
   
}
}